.meiyo-section img {
  width: 50px;
}

.contact-information {
  text-align: right;
  margin-top: 40vh;
  margin-right: 4vw;
}

.contact-information h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 4em;
  margin: 0;
}

.contact-information h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
}

.social-section {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 8px);
}

.social-nav {
  text-align: right;
  margin-right: 4vw;
}

.social-nav a {
  margin: 0 15px;
  font-size: 1.4rem;
  color: rgb(239, 51, 64);
}
.social-nav a:hover {
  color: rgb(239, 51, 64);
}
